h1 {
    font-size: 2em;
    color: #4B4545;
    text-align: center;
}

.answer
{
    font-size: 30px;
    margin: 2px;
    padding: 10px;
    background:#f0f0f0;
}
.source
{
    font-size: 30px;
}

.tile {
    cursor: move;
    font-size: 25px;
    vertical-align:middle;
    margin: 0px;
    padding: 0px;
    border: 1px solid #888888;
    text-align: center;
    background:#ffffff;
}

td {
    margin: 0px;
    padding: 0px;
}

.hoverclass
{
    background: #e8c0a0;
}

br {
    clear: both;
}