h1 {
    font-size: 2em;
    color: #4B4545;
    text-align: center;
}

.tile
{
    float: left;
    background: white;
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 0px;
    border: 1px solid black;
    text-align: center;
}

.passive {
    cursor: default;
    border: 1px solid transparent;
}

.hoverclass
{
    background: #88ff88;
}
