h1 {
	font-family: Verdana;
	font-size: 36px;
	font-weight: bold;
    margin: 0;
	right: 36px;
	top: 0px;
    float: right;
}

h1 a:link { color: #bbcccc; }
h1 a:visited { color: #cccccc; }
h1 a:active { color: #bbdddd; }

.control {
    float: left;
	width: 50%;
    top: 32px;
}

.expression
{
    font-size: 30px;
    margin: 2px;
    padding: 10px;
    background:#E7FFE7;
    border: 1px solid #84B584;
}

.toggle
{
    cursor: pointer;
}

input.tile
{
    cursor: text;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: left;
    background:#ffffff;
}

.tile
{
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
/*    background:#d0f0d0; */
    background:#ffffff;
}


.hoverclass
{
    background: #e8c0a0;
}
