* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}
body div {
	text-align: left;
	margin: 0 auto;
}

h1 {
	font-family: Verdana;
	font-size: 36px;
	font-weight: bold;
    margin: 0;
	right: 36px;
	top: 0px;
    float: right;
}

h1 a:link { color: #bbcccc; }
h1 a:visited { color: #cccccc; }
h1 a:active { color: #bbdddd; }

.control {
    float: left;
	width: 50%;
    top: 32px;
    display: inline;
}

.expression
{
/*    font-size: 30px; */
/*    margin: 2px; */
    padding: 0px;
/*    background:#E7FFE7; */
/*    border: 1px solid #84B584; */
}

.expressionTool
{
    float: left;
    width: 50px;
}

.printIt
{
    vertical-align: text-bottom
}

.checkbox
{
    margin: 0
}

.tileParent {
    border: 1px solid #cc8888;
    margin-right: 10px;
    margin-left : 50px;
/*    float: left;
    width: 90%; */
}

.toggle
{
    cursor: pointer;
}

input.tile
{
    cursor: text;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: left;
    background:#ffffff;
}

textarea.tile
{
    cursor: text;
    text-align: left;
    width: 98%;
    font-size: medium;
}
.tile
{
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
/*    background:#d0f0d0; */
    background:#ffffff;
}

td
{
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
/*    background:#d0f0d0; */
    background:#ffffff;
}




    .hoverclass
{
    background: #e8c0a0;
}
