* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-family: Verdana;
}
body div {
	text-align: left;
	margin: 0 auto;
}

#header {
    height: 50px;
    position: relative;
    margin: 1em;
    margin-bottom: 2em;
}

h1 {
    position: absolute;
    bottom: 0px;
    left: 10px;
	font-family: Verdana;
	font-size: 36px;
	font-weight: bold;
    display: inline;
    text-align: left;
}

h1 a:link { color: #bbcccc; }
h1 a:visited { color: #cccccc; }
h1 a:active { color: #bbdddd; }

.control {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: inline;
    text-align: right;
}

.row {
    padding: 0px;
}

.rowTool {
    float: left;
    width: 80px;
}

.valueParent {
    margin-right: 10px;
    margin-left : 80px;
}

#rows {
    margin-left: 1em;
    margin-right: 1em;
}

#footer {
    margin-left: 1em;
    margin-right: 1em;
}
#transcriptElement {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
/*   background: #e0e8e8; */
}
#transcript {
    width: 98%;
    margin: auto;
    display: block;
    background: white;
}

.printIt
{
    vertical-align: text-bottom
}

.checkbox
{
    margin: 0
}

.toggle
{
    cursor: pointer;
}

input.tile
{
    cursor: text;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: left;
    background:#ffffff;
}

textarea.tile
{
    cursor: text;
    text-align: left;
    width: 98%;
    font-size: medium;
    border: 1px solid #dddddd;
}

div.tile
{
    margin-left: 2em;
}

span.tile
{
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
/*    background:#d0f0d0; */
    background:#ffffff;
}

.newLineEnter {
    background-color: #ccffff;
    height: 10px;
    clear: both;
}

.newLine {
    background-color: transparent;
    height: 10px;
    clear: both;
}



p {
	padding-bottom: 0.5em;
}


td
{
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
/*    background:#d0f0d0; */
    background:#ffffff;
}




    .hoverclass
{
    background: #e8c0a0;
}
