* {
	margin: 0;
	padding: 0;
}

/* ----- For Generic Users ----- */

p {
	margin: 1em;
}
h1 {
    margin: 1em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 5px solid #8080c0;
    padding-bottom: 5px;

}

h3 {
    margin: 0.5em;
}

ul {
    margin-left: 2em;
}

/* ----- For C5 Presentation ----- */

.author {
    display: inline;
    font-weight: bold;
    margin: 1em;
}

/* ----- For Tile Script User Interface ----- */

body {
	text-align: center;
	font-family: Verdana;
    background: white;
    background-image: url(back.gif);
//    background-position: top left;
    background-repeat: repeat-x;
/* background-attachment: fixed; */

/*    font-size: x-large; */
}
body div {
	text-align: left;
	margin: 0 auto;
}

#loading {
    position: fixed;
    top: 10px;
    right: 10px;
}

#header {
    height: 50px;
    position: relative;
    margin: 1em;
    margin-bottom: 2em;
}

#title {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    left: 10px;
	font-family: Verdana;
	font-size: 36px;
	font-weight: bold;
    display: inline;
    text-align: left;
}

h1 a:link { color: #bbcccc; }
h1 a:visited { color: #cccccc; }
h1 a:active { color: #bbdddd; }

.control {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: inline;
    text-align: right;
}

.row {
    padding: 0px;
}

.rowTool {
    float: left;
    width: 80px;
}

.valueParent {
    margin-right: 10px;
    margin-left : 80px;
}

#rows {
    margin-left: 1em;
    margin-right: 1em;
}

#footer {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

#transcriptElement {
    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 10px;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    margin: auto;
    text-align: right;
}

#transcript {
    width: 100%;
    margin: auto;
    border: 1px solid #888888;
}

#transcriptTab {
    cursor: pointer;
    background: #e0e8e8;
    padding-right: 6px;
    padding-left: 6px;
    border: 1px solid #888888;
}

.printIt {
    margin: 1px;
    vertical-align: text-bottom;
}

.checkbox {
    margin: 1px;
    vertical-align: text-top;
}


input.tile {
    cursor: text;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: left;
    background:#ffffff;
}

textarea.tile {
    cursor: text;
    text-align: left;
    width: 98%;
    font-size: medium;
    border: 1px solid #dddddd;
}

.tile {
    background:#ffffff;
}

div.tile {
    margin-left: 2em;
    background: transparent;
}

span.tile {
    cursor: move;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 1px solid #888888;
    text-align: center;
}

table.tile {
    cursor: move;
    font-size: 1em;
    padding: 0px;
    border: 1px solid #888888;
    text-align: center;
}

.newLineEnter {
    background-color: #ccffff;
    height: 10px;
    clear: both;
}

.newLine {
    background-color: transparent;
    height: 10px;
    clear: both;
}

.hoverclass {
    background: #e8c0a0;
}
